.map {
  background-color: $lightGray;
  height: 300px;
  width: 100%;
  display:block;
  margin:0 auto;
}

.overlap-map {
  height: 53px;
  margin-top: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 999;
  background-color: white;
  position: absolute;
}

